apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ metallb['pool_name'] }}
  namespace: metallb-system
spec:
  addresses:
  {% for host in groups['control_nodes'] %}
  - {{hostvars[host].ansible_default_ipv4.address}}/32
  {% endfor %}